
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AngularView</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/filters.js"></script>
    <script src="~/app/services.js"></script>
    <script src="~/app/todo/todoController.js"></script>
</head>
<body ng-app="todoApp">
    <div ng-controller="todoController">
        @*<input type="text" ng-model="saluto" value="" />
            {{saluto}}*@

        <div>
            <div id="upsert-form">
                <form>
                    <div>
                        <label>
                            Id:
                            {{selectedTodo.Id}} 
                        </label>
                    </div>
                    <div>
                        <label>
                            Name:
                            <input type="text" ng-model="selectedTodo.Name" />
                        </label>
                    </div>
                    <div>
                        <label>
                            LastName:
                            <input type="text" ng-model="selectedTodo.LastName" />
                        </label>
                    </div>
                    <div>
                        <label>
                            Due Date:
                            <input type="text" ng-model="selectedTodo.DueDate" />
                        </label>
                    </div>
                    <div>
                        <label>
                            Task:
                            <textarea ng-model="selectedTodo.Task">
 {{selectedTodo.Task}}
</textarea>
                        </label>
                    </div>
                    <p>
                        <input type="submit" value="Save" ng-click="save();" />
                    </p>
                </form>
            </div>
            <table>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Last Name</td>
                    <td>Due Date</td>
                    <td>Task</td>
                </tr>
                <tr ng-repeat="todo in todos">
                    <td>
                        <input type="button" value="delete" ng-click="delete(todo)" />
                        <input type="button" value="edit" ng-click="edit(todo)" />
                    </td>
                    <td>{{todo.Name}}</td>
                    <td>{{todo.LastName}}</td>
                    <td>{{todo.DueDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{todo.Task | truncateFriendly:10}}</td>
                </tr>
            </table>
            @*<ul>
                    <li ng-repeat="todo in todos">
                        {{todo.Name}}
                        {{todo.LastName}}
                        {{todo.DueDate | date:'MM/dd/yyyy'}}
                        <span title="{{todo.Task}}">
                            {{todo.Task | truncateFriendly:10}}
                        </span>
                        <input type="button" value="delete" ng-click="delete(todo)" />
                        <input type="button" value="edit" ng-click="update(todo)" />
                    </li>
                </ul>*@

            @*<div>
                    <h1>Modifica</h1>
                    <input type="text" ng-model="selectedTodo.name" />
                    <input type="button" value="Save" ng-click="save()" />
                </div>*@
        </div>
    </div>
</body>
</html>
